body {
  background-color: rgb(8, 54, 94);
  font-family: "Oxygen", sans-serif;
  color: #f2f2f2;
}

.my-container {
}

.my-row {
  border: #f2ff01;
  border-style: dotted;
  border-width: 1px;
}

.my-col {
  border: #ff0000;
  border-style: dotted;
  border-width: 1px;
}

.header-img {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-img {
    display: flex;
    width: 100%;
  }
  .cat-con {
    max-width: 50%;
  }
}
